<hr>

<div class="post_navi">
  {%- if page.previous.url -%}
  <a class="post_navi-item nav_prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">
    <p><big>&lt;</big> {{ page.previous.title }}</p>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_prev" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <p><big>&lt;</big>Blog Archive</p>
  </a>
  {%- endif -%}
  {%- if page.next.url -%}
  <a class="post_navi-item nav_next" href="{{ page.next.url }}" title="{{ page.next.title }}">
    <p>{{ page.next.title }} <big>&gt;</big></p>
  </a>
  {%- else -%}
  <a class="post_navi-item nav_next" href="{{ 'archive.html' | absolute_url }}" title="Blog Archive">
    <p>Blog Archive <big>&gt;</big></p>
  </a>
  {%- endif -%}
</div>
