---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="container-fluid p-5 bg-primary text-center text-light post-header">
        <h1 class="display-1 post-title p-name" itemprop="name headline"><a href="/" class="text-decoration-none text-light">{{ page.title }}</a></h1>
        <h4>
            {% for tag in page.tags %}
                <span class="badge bg-light text-primary">{{ tag }} </span>
            {% endfor %}
        </h4>
    </header>
  
    <div class="m-3 post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<div class="m-3">
    <hr>

    <script src="https://utteranc.es/client.js"
        repo="mdwalters/blog.mdwalters.ml"
        issue-term="pathname"
        label="comment"
        theme="github-dark"
        crossorigin="anonymous"
        async>
    </script>
</div>
